<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>404 Not Found</title>
	<style>
		*{
			margin: 0;
		}
		body{
			background: black;
			font-family: monospace;
			padding: 0;
		}
		.not-found{
			text-align: center;
			background: pink;
			border: 1px solid maroon;
			padding: 10px;
			border-radius: 2px;
			width: 80%;
			margin:4px auto;
			box-sizing: border-box;
		}
		.kosong4{
			text-align: center;
		}
		.kontiner{
			margin: 80px auto;
		}
	</style>
</head>
<body>
	<!-- not found -->
	<div class="kontiner">
		<div class="not-found kosong4">
		<h1>404 Not Found</h1>
	
	</div>
	<div class="not-found">
		<p>
			Halaman yang kamu cari tidak ada di server ini! Atau halaman sudah di hapus oleh pengembang.
		</p>
	<a href="">Back</a>	
	</div>
	</div>
	<!-- end not found -->
</body>
</html>