<!-- 
{config nama_aplikasi}
<?= date('Y') ?>
 
-->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<!-- style loading -->
	<link rel="stylesheet" href="{url}assets/css/app.css">
	<link rel="shortchut icon" href="{url}{config icon}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- script -->
	<script src="{url}assets/vendors/base/vendor.bundle.base.js"></script>
	<script src="{url}assets/vendors/sweetalert2.all.min.js"></script>
	<title>{title} | {config nama_aplikasi}</title>
</head>
<body>
	{content}
	<!-- help button -->
	<div class="help-button">
		<!-- help button disini? -->
	</div>
</body>
</html>
