/* css reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	font-family: sans-serif;
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* variabel */
::root{
	--bg-utama:#dedede;
}
/* halaman login */
.halaman_login{
	background: white;
	border-radius: 3px;
	font-weight: bold;
	width:320px;
	margin:50px auto;
	box-sizing: border-box;
}
.box-login{
	border-top: 3px solid #d7d7d7;
	padding: 0;
}
.halaman_login .bx-header{
	margin: 30px 0px;
	font-size: 19px;
	text-align: center;
}
.dinput{
	padding: 10px;
	width: 100%;
	font-weight: bold;
	box-sizing: border-box;
	border-radius: 3px;
	outline: 0;
	border: 1px solid grey;
	margin-top: 0.5rem;
	transition: 0.2s ease-in-out;
	box-sizing: border-box;
}
.dinput:focus{
	box-shadow: 0px 0px 0px 4px #dedede;
}

.halaman_login button{
	width:100%;
	border-radius: 2px;
	text-transform: capitalize;
	padding: 10px;
	background: #ff4600;
	border: none;
	color: white;
}
.halaman_login .form-group{
	margin-top: 20px;
	margin-bottom: 10px;
}
.app-main{
	margin:auto;
	width: 80%;
	background-color: rgb(255, 255, 255);
}
.navigation{
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 10px;
	height:32px;
	border:1px solid #c9c9c9;
	background-color: rgb(255, 255, 255);
}
.navigation .logo{
	color: #414141;
	text-shadow: 0px 0px 2px;
	font-size: 20px;
}
.navigation ul li{
	float: left;
}
.navigation ul li a{
	color: rgb(88, 88, 88);
	padding: 10px 10px;
	text-decoration: none;
}
.navigation ul li a:focus,
.navigation ul li a:hover	{
	color: #c9c9c9;
	background-color: #757575;
}
.rightinfo{
	text-align: center;
}
.main-container{
	margin: 10px auto;
}
.titles{
	margin:20px 0px;
	padding-left: 10px;
	border-left: 3px solid #757575;
}
.titles h1{
	font-size: 27px;
	margin:2px 0px;
}
.calon-items{
	position: relative;
	height:100%;
	padding: 10px;
	box-sizing: border-box;
	transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
	margin-bottom: 20px;
	width:230px;
	box-shadow: 0px 0px 5px #ececec;
	border-radius: 10px;
	background:rgb(255, 255, 255);
}
.calon-items:hover{
	transform: translateY(4px);
}
.calon-items-container{
	display: flex;
	flex-wrap: wrap;
	flex-direction:row;
	
	justify-content: space-between;
	margin: auto;
}
.calon-items .items-button {
	margin-top: 15px;
	margin-bottom: 5px;
}
.calon-items .items-button  button{
	width:100%;
	padding:8px;
	border:none;
	color:white;
	border-radius: 2px;
	background-color: #747474;
}
.calon-items .foto-calon img{
	border-radius: 2px;
	width:100%;
	height:100%;
}
.calon-items .foto-calon{
	width:210px;
	margin:0px auto;
	border-radius: 4px;
	overflow: hidden;
	height:300px;
	box-shadow: 0px 0px 0px 1px #f0f0f0;
}
.calon-items .no-calon{
	width:40px;
	border-radius: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	height:40px;
	left:20px;
	top: 20px;
	color:white;
	font-weight: bold;
	position: absolute;
	background-color: rgb(0, 102, 255);
}
@media only screen and (max-width: 720px){
	.navigation .logo{
		font-size: 14px;
	}
	.navigation {
		top:0;
		height:52px;
		z-index: 99999999999999;
		position: sticky;
		border-bottom: 2px solid #757575;
	}
	.menu ul li a{
		font-size: small;
	}
	.box-login{
		border-top: 1px solid #d7d7d7;
	}
	.halaman_login{
		width: 86%;
		margin: 100px auto;
	}
	.calon-items .foto-calon{
		width:100%;
		margin:0px;
		height:350px;
	}
	.app-main{
		width: 100%;
	}
	.main-header{
		display: none;
	}
	.main-container{
		width:90%;
	}
	.titles{
		margin:30px 0px;
		width:100%;
	}
	.calon-items {
		margin: auto;
		width:270px;
		margin-bottom:30px;
	}
}