<!-- calon -->
<main class="app-main">
    <div class="navigation">
        <div class="logo">
            {config nama_aplikasi}
        </div>
        <div class="menu">
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">tata cara</a></li>
                <li><a href="">Keluar</a></li>
            </ul>
        </div>
    </div>
    <div class="main-container">
        <div class="titles">
            <h1 style="color:#747474;">Daftar Calon</h1>
            <p style="font-size:12px">
                Berikut adalah daftar calon ketua rt 03 2021!
                Silahkan pilih salahsatu sesua pilihan kamu
            </p>
        </div>   
        <div class="calon-items-container" id="items-contaner">
        
        <!-- items calon -->
            <div class="calon-items">
                <div class="no-calon">
                    10
                </div>
                <div class="foto-calon">
                    <img src="20220315_113010.jpg" alt="" srcset="">
                </div>
                <div class="items-button">
                    <button>LIHAT</button>
                </div>
            </div>
           
              <!-- items calon -->
              <div class="calon-items">
                <div class="no-calon">
                    10
                </div>
                <div class="foto-calon">
                    <img src="download.jpg" alt="" srcset="">
                </div>
                <div class="items-button">
                    <button>LIHAT</button>
                </div>
            </div>
            <!-- e items calon -->
              <!-- items calon -->
              <div class="calon-items">
                <div class="no-calon">
                    10
                </div>
                <div class="foto-calon">
                    <img src="download.jpg" alt="" srcset="">
                </div>
                <div class="items-button">
                    <button>LIHAT</button>
                </div>
            </div>
            <!-- e items calon -->  <!-- items calon -->
              <div class="calon-items">
                <div class="no-calon">
                    10
                </div>
                <div class="foto-calon">
                    <img src="download.jpg" alt="" srcset="">
                </div>
                <div class="items-button">
                    <button>LIHAT</button>
                </div>
            </div>
            
        </div>
    </div>
</main>
